# String de conexão do MongoDB Atlas (adicione no seu .env.local e nas variáveis de ambiente da Vercel)
MONGODB_URI=mongodb+srv://<user>:<db_password>@cluster-01.kpiykbg.mongodb.net/?appName=cluster-01

# Nome do banco de dados (opcional, padrão: finplan)
MONGODB_DB_NAME=finplan
