@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* zinc-50 */
    --foreground: 240 5.9% 10%; /* zinc-900 */
    --card: 0 0% 100%; /* white */
    --card-foreground: 240 5.9% 10%; /* zinc-900 */
    --popover: 0 0% 100%;
    --popover-foreground: 240 5.9% 10%;
    --primary: 162 73% 30%; /* teal-600 */
    --primary-foreground: 0 0% 98%; /* zinc-50 */
    --secondary: 240 4.8% 95.9%; /* zinc-100 */
    --secondary-foreground: 240 5.9% 10%; /* zinc-900 */
    --muted: 240 4.8% 95.9%; /* zinc-100 */
    --muted-foreground: 240 3.8% 46.1%; /* zinc-500 */
    --accent: 240 4.8% 95.9%; /* zinc-100 */
    --accent-foreground: 240 5.9% 10%; /* zinc-900 */
    --destructive: 346 87% 53%; /* rose-500 */
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%; /* zinc-200 */
    --input: 240 5.9% 90%; /* zinc-200 */
    --ring: 162 73% 30%; /* teal-600 */
    --radius: 0.5rem;
    --success: 142 71% 45%; /* emerald-500 */
    --warning: 38 92% 50%; /* amber-500 */
  }

  .dark {
    --background: 240 10% 3.9%; /* zinc-950 */
    --foreground: 0 0% 98%; /* zinc-50 */
    --card: 240 5.9% 10%; /* zinc-900 */
    --card-foreground: 0 0% 98%; /* zinc-50 */
    --popover: 240 5.9% 10%; /* zinc-900 */
    --popover-foreground: 0 0% 98%; /* zinc-50 */
    --primary: 162 73% 30%; /* teal-600 */
    --primary-foreground: 0 0% 98%; /* zinc-50 */
    --secondary: 240 3.7% 15.9%; /* zinc-800 */
    --secondary-foreground: 0 0% 98%; /* zinc-50 */
    --muted: 240 3.7% 15.9%; /* zinc-800 */
    --muted-foreground: 240 5% 64.9%; /* zinc-400 */
    --accent: 240 3.7% 15.9%; /* zinc-800 */
    --accent-foreground: 0 0% 98%; /* zinc-50 */
    --destructive: 346 87% 53%; /* rose-500 */
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%; /* zinc-800 */
    --input: 240 3.7% 15.9%; /* zinc-800 */
    --ring: 162 73% 30%; /* teal-600 */
    --success: 142 71% 45%; /* emerald-500 */
    --warning: 38 92% 50%; /* amber-500 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
